﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="hastanesitesi.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SÖĞÜT DEVLET HASTANESİ</title>
    <style type="text/css">
        .auto-style1 {
            width: 1900px;
            height: 300px;
            margin-top: 0px;
        }
        .auto-style2 {
            width: 1900px;
            height: 300px;
            margin-top: 0px;
        }
        .auto-style3 {
            width: 120px;
            height: 102px;
        }
        .auto-style4 {
            width: 120px;
            height: 103px;
        }
        .auto-style5 {
            width: 120px;
            height: 99px;
        }
        .auto-style6 {
            width: 120px;
            height: 101px;
        }
        .auto-style7 {
            width: 120px;
            height: 101px;
        }
        .auto-style8 {
            width: 120px;
            height: 100px;
        }
 HEAD
        .auto-style9 {
            width: 100%;
            height: 196px;
        }
        .auto-style13 {
            height: 107px;
        }
        .auto-style14 {
            width: 1572px;
            height: 107px;
        }
        .auto-style9 {
            margin-bottom: 0px;
        }
        </style>
</head><body><form id="form1" runat="server">
        <asp:Label ID="Label3" runat="server" Text="Ziyaretçi sayisi"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label4" runat="server"></asp:Label>
    <div style="height: 1400px">
    
     <img alt="asd"class="auto-style1" src="resimler/banner.PNG" />
         <br />
      
        <table class="auto-style9">
            <tr>
                <td class="auto-style14">
                  <center> </td>
                <td class="auto-style13">
                    <asp:Label ID="Label1" runat="server" Text="KullanıcıAdi"></asp:Label>

        <asp:TextBox ID="TextBox1" runat="server" Height="16px" style="margin-left: 0px" Width="162px"></asp:TextBox>
        &nbsp;<br />
&nbsp;
        <asp:Label ID="Label2" runat="server" Text="Sifre"></asp:Label>
&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
        <asp:TextBox ID="TextBox2" runat="server" Width="163px"></asp:TextBox>
       <center> <asp:Button ID="giris" runat="server" Text="Giriş" Width="97px" OnClick="Button1_Click" /></center>
                
                </td>
            </tr>
            </table>
      
        <br />
        &nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp <center><asp:Button ID="anasyfa" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Font-Size="Small" ForeColor="Black" Height="40px" Text="ANASAYFA" Width="130px" style="margin-bottom: 0px" />
        <asp:Button ID="brmlrbtn" runat="server" Height="40px" Text="BİRİMLER" Width="130px" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Font-Strikeout="False" Font-Underline="False" OnClick="brmlrbtn_Click" />
       <asp:Button ID="hklrbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="HASTAHAKLARI" Width="130px" OnClick="hklrbtn_Click" />
        <asp:Button ID="ecznebtn" runat="server" Height="40px" Text="ECZANELER" Width="130px" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" ForeColor="Black" OnClick="ecznebtn_Click1" />
        <asp:Button ID="zyrtbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="ZİYARET" Width="130px" />
        <asp:Button ID="fotobtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="FOTOGALERİ" Width="130px" />
        &nbsp;<asp:Button ID="iltbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="İLETİSİM" Width="130px" OnClick="iltbtn_Click" /></center>
        &nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /> &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
        &nbsp;&nbsp;&nbsp;
                
        <br /> <br /><br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /><br /> <br /> <br /> <br />

        <br/>
        <tr>
        <td colspan="2" align="right">
&nbsp;&nbsp;
             <br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /> <br /><br /> <br /> <br /> <br /> <br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /> <br />
        <center><img alt="das" class="auto-style2" src="resimler/altalan.PNG" /><img alt="ffw" class="auto-style7" src="resimler/evdesağlık.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="cvc" class="auto-style4" src="resimler/alo171.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="qfc" class="auto-style3" src="resimler/alo113.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="heg" class="auto-style5" src="resimler/alobimer.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="nbh" class="auto-style6" src="resimler/bilgilendirme.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="randevu" class="auto-style3" src="resimler/randevu.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="sabim" class="auto-style8" src="resimler/sabim.PNG" /></div></center>
    </form>
</body>
</html>
