﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="hastanesitesi.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>HASTA HAKLARI</title>
    <style type="text/css">
        .auto-style1 {
            width: 1900px;
            height: 300px;
            margin-top: 0px;
        }
        .auto-style2 {
            width: 1900px;
            height: 300px;
            margin-top: 0px;
        }
        .auto-style3 {
            width: 120px;
            height: 102px;
        }
        .auto-style4 {
            width: 120px;
            height: 103px;
        }
        .auto-style5 {
            width: 120px;
            height: 99px;
        }
        .auto-style6 {
            width: 120px;
            height: 101px;
        }
        .auto-style7 {
            width: 120px;
            height: 101px;
        }
        .auto-style8 {
            width: 120px;
            height: 100px;
        }
<<<<<<< HEAD
        .auto-style9 {
            width: 100%;
            height: 196px;
        }
        .auto-style13 {
            height: 107px;
        }
        .auto-style14 {
            width: 1572px;
            height: 107px;
        }
        .auto-style9 {
            margin-bottom: 0px;
        }
        </style>
    <p style="margin-left: 40px">
&nbsp;</head><body></p>
    <form id="form1" runat="server">
    <div style="height: 1400px">
    
     <img alt="asd"class="auto-style1" src="resimler/banner.PNG" />
         <br />
      
        <table class="auto-style9">
            <tr>
                <td class="auto-style14">
                  <center> </td>
                <td class="auto-style13">
                    <asp:Label ID="Label1" runat="server" Text="KullanıcıAdi"></asp:Label>

        <asp:TextBox ID="TextBox1" runat="server" Height="16px" style="margin-left: 0px" Width="162px"></asp:TextBox>
        &nbsp;<br />
&nbsp;
        <asp:Label ID="Label2" runat="server" Text="Sifre"></asp:Label>
&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
        <asp:TextBox ID="TextBox2" runat="server" Width="163px"></asp:TextBox>
       <center> <asp:Button ID="Button1" runat="server" Text="Giriş" Width="97px" OnClick="Button1_Click" /></center>
                
                </td>
            </tr>
            </table>
      
        <br />
        &nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp <center><asp:Button ID="anasyfa" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Font-Size="Small" ForeColor="Black" Height="40px" Text="ANASAYFA" Width="130px" style="margin-bottom: 0px" />
        <asp:Button ID="brmlrbtn" runat="server" Height="40px" Text="BİRİMLER" Width="130px" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Font-Strikeout="False" Font-Underline="False" OnClick="brmlrbtn_Click" />
       <asp:Button ID="hklrbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="HASTAHAKLARI" Width="130px" OnClick="hklrbtn_Click2" />
        <asp:Button ID="ecznebtn" runat="server" Height="40px" Text="ECZANELER" Width="130px" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" ForeColor="Black" OnClick="ecznebtn_Click" />
        <asp:Button ID="zyrtbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="ZİYARET" Width="130px" />
        <asp:Button ID="fotobtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="FOTOGALERİ" Width="130px" />
        &nbsp;<asp:Button ID="iltbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="İLETİSİM" Width="130px" OnClick="iltbtn_Click" /></center>
        &nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /> &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
        &nbsp;&nbsp;&nbsp;
                
        <div>
            <h2>Hasta Hakları</h2>
        </div>
        <div>
            <p style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <img align="none" alt="" src="http://www.sogutdh.gov.tr/content/others/hastahak.gif" style="border: 0px;" /></p>
            <p style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <br />
            </p>
            <p style="color: rgb(0, 0, 0); font-family: 'Arial Narrow', Tahoma, Arial, Helvetica; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px;">
                <font face="times new roman" size="4">İnsan, sadece insan olmasından dolayı doğuştan bazı hakları kazanarak dünyaya adımını atmaktadır. Hak kavramı evrensel bir kavramdır. Kısaca hak; &#39;hukuk kurallarının kişilere tanıdığı yetki&#39; olarak tanımlanabilir.<br style="margin: 0px; padding: 0px;" />
                <br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">Haklarınız :<br style="margin: 0px; padding: 0px;" />
                <br style="margin: 0px; padding: 0px;" />
                1. Hizmetten genel olarak faydalanma :</u></strong>&nbsp;Adalet ve Hakkaniyet ilkeleri çerçevesinde sağlık hizmetlerinden faydalanma. Irk, dil, din ve mezhep, cinsiyet, felsefi inanç, ekonomik ve sosyal durumları dikkate alınmadan hizmet alma hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">2. Bilgilendirme ve bilgi isteme :</u></strong>&nbsp;Her türlü sağlık hizmetinin ve imkanının neler olduğunu öğrenmeye ve sağlık durumu ile ilgili her türlü bilgiyi sözlü veya yazılı isteme hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">3. Sağlık kuruluşunu ve personelini, seçme ve değiştirme :</u></strong>&nbsp;Sağlık kuruluşunu seçmeye, değiştirmeye ve seçtiği sağlık tesisinde verilen sağlık hizmetlerinden faydalanmaya, sağlık hizmeti verecek olan tabiplerin ve diğer sağlık çalışanlarının kimliklerini, görev ve unvanlarını öğrenmeye, seçmeye ve değiştirmeye hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4. Mahremiyet :</u></strong>&nbsp;Gizliliğe uygun bir ortamda her türlü sağlık hizmeti almaya hakları vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">5. Reddetme, durdurma ve rıza :</u></strong>&nbsp;Tedaviyi reddetmeye, durdurulmasını istemeye, tıbbi müdahalelede rızasının alınmasına ve rıza çerçevesinde hizmetten faydalanmaya hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">6. Güvenlik :</u></strong>&nbsp;Sağlık hizmetini güvenli bir ortamda almaya hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">7. Dini vecibeleri yerine getirebilme :</u></strong>&nbsp;Sağlık tesisinin imkanları ölçüsünde ve idarece alınan tedbirler çerçevesinde, dini vecibelerini yerine getirmeye hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">8. İnsani değerlere saygı gösterilmesi, saygınlık ve rahatlık :</u></strong>&nbsp;Saygı, itina ve ihtimam gösterilerek, güler yüzlü, nazik, şefkatli bir ortamda, her türlü hijyenik şartlar sağlanmış, gürültülü ve rahatsız edici bütün etkenler giderilmiş bir sağlık hizmeti almaya hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">9. Ziyaret ve refakatçi bulundurma :</u></strong>&nbsp;Sağlık tesislerince belirlenen usül ve esaslar çerçevesinde ziyaretçi kabul etmeye, mevzuatın ve sağlık tesisinin imkanları ölçüsünde ve hekimin uygun görmesi halinde refakatçi bulundurma hakkı vardır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">10. Müracaat, şikayet ve dava hakkı :</u></strong>&nbsp;Haklarının ihlali halinde, mevzuat çerçevesinde her türlü başvuru, şikayet ve dava hakkını kullanmaya hakkı vardır.<a href="http://www.daricaadsm.gov.tr/hastahaklari.asp" style="color: rgb(153, 0, 0); text-decoration: none; margin: 0px; padding: 0px; outline: none;"><strong style="margin: 0px; padding: 0px;"><br style="margin: 0px; padding: 0px;" />
                </strong></a>
                <br style="margin: 0px; padding: 0px;" />
                Sorumluluklarınız :<br style="margin: 0px; padding: 0px;" />
                <br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">1. GENEL SORUMLULUKLAR</u></strong><br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">1.a.</u></strong>&nbsp;Kişiler kendi sağlığına dikkat etmek için elinden geleni yapmalı ve sağlıklı bir yaşam için verilen tavsiyelere uymalıdır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">1.b.</u></strong>&nbsp;Kişi uygunsa kan verebilir ya da organ bağışında bulunabilir.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">1.c.</u></strong>&nbsp;Basit durumlara kişiler kendi bakımlarını yapmalıdır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">2. SOSYAL GÜVENLİK DURUMU</u></strong><br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">2.a.</u></strong>&nbsp;Hasta; sağlık, sosyal güvenlik ve kişisel bilgilerindeki değişiklikleri zamanında bildirmek durumundadır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">2.b.</u></strong>&nbsp;Hasta; sağlık karnesinin (Bağ-Kur, Yeşilkart gibi) vizesini zamanında yaptırmak zorundadır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">3. SAĞLIK ÇALIŞANLARINI BİLGİLENDİRME</u></strong><br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">3.a.</u></strong>&nbsp;Hasta; yakınmalarını, daha önce geçirdiği hastalıkları, yatarak herhangi bir tedavi görüp göremediğini, eğer varsa halen kullanıldığı ilaçları ve tüm sağlığıyla ilgili bilgileri eksiksiz bir şekilde vermelidir.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4. HASTANE KURALLARINA UYMA</u></strong><br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4.a.</u></strong>&nbsp;Hasta; başvurduğu sağlık kuruluşunun kural ve uygulamalarına uymalıdır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4.b.</u></strong>&nbsp;Hasta Sağlık Bakanlığı ve diğer sosyal güvenlik kurumlarınca belirlenen sevk zincirine uymalıdır.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4.c.</u></strong>&nbsp;Hastanın; tedavi, bakım ve rehabilitasyon sürecince sağlık çalışanları ile işbirliği içinde olması beklenir.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4.d.</u></strong>&nbsp;Hasta; randevulu hizmet veren bir sağlık tesisinden yararlanıyorsa randevunun tarih ve saatine uyması ve değişiklikleri ilgili yere bildirmesi gerekir.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4.e.</u></strong>&nbsp;Hasta; hastane personelinin, diğer hastaların ve ziyaretçilerin haklarına saygı göstermelidir.<br style="margin: 0px; padding: 0px;" />
                <strong style="margin: 0px; padding: 0px;"><u style="margin: 0px; padding: 0px;">4.f.</u></strong>&nbsp;Hasta; hastane malzemelerine verdiği zararları karşılamak zorundadır.<strong style="margin: 0px; padding: 0px;"><br style="margin: 0px; padding: 0px;" />
                <u style="margin: 0px; padding: 0px;">5. TEDAVİSİ İLE İLGİLİ ÖNERİLERE UYMA</u><br style="margin: 0px; padding: 0px;" />
                <u style="margin: 0px; padding: 0px;">5.a.</u>&nbsp;Hasta; tedavisi ve ilaçlarla ilgili tavsiyeleri dikkatle dinlemeli ve anlayamadığı yerleri sormalıdır.<br style="margin: 0px; padding: 0px;" />
                <u style="margin: 0px; padding: 0px;">5.b.</u>&nbsp;Hastanın; tedavisiyle ilgili önerilere uyum sağlayamama durumu söz konusu ise bunu sağlık çalışanına bildirmesi gerekir.<br style="margin: 0px; padding: 0px;" />
                <u style="margin: 0px; padding: 0px;">5.c.</u>&nbsp;Hasta sağlık bakım ve taburculuk sonrası bakım planını beklendiği gibi doğru anlayıp anlamadığını belirtmesi gerekir.<br style="margin: 0px; padding: 0px;" />
                <u style="margin: 0px; padding: 0px;">5.d.</u>&nbsp;Hasta; uygulanacak tedaviyi reddetmesi veya önerilere uymamasından dolayı doğacak sonuçlardan kendisi sorumludur.</strong></font></p>
            <br class="Apple-interchange-newline" />
        </div>
                
        <br /> <br /><br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /><br /> <br /> <br /> <br />

        <br/>
        <tr>
        <td colspan="2" align="right">
&nbsp;&nbsp;
             <br /><br /> <img alt="das" class="auto-style2" src="resimler/altalan.PNG" /><br /><br />
        <center><img alt="ffw" class="auto-style7" src="resimler/evdesağlık.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="cvc" class="auto-style4" src="resimler/alo171.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="qfc" class="auto-style3" src="resimler/alo113.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="heg" class="auto-style5" src="resimler/alobimer.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="nbh" class="auto-style6" src="resimler/bilgilendirme.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="randevu" class="auto-style3" src="resimler/randevu.PNG" />&nbsp;&nbsp;&nbsp;&nbsp; <img alt="sabim" class="auto-style8" src="resimler/sabim.PNG" /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /> <br /> <br /> <br /> <br /><br /><br /> <br />
        </div></center>
    </form>
</body>
</html>
