﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="hastanesitesi.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>İLETİSİM
    </title>
    <style type="text/css">
        .auto-style1 {
            width: 1900px;
            height: 300px;
            margin-top: 0px;
        }
        .auto-style2 {
            width: 1900px;
            height: 300px;
            margin-top: 0px;
        }
        .auto-style3 {
            width: 120px;
            height: 102px;
        }
        .auto-style4 {
            width: 120px;
            height: 103px;
        }
        .auto-style5 {
            width: 120px;
            height: 99px;
        }
        .auto-style6 {
            width: 120px;
            height: 101px;
            margin-top: 0px;
        }
        .auto-style7 {
            width: 120px;
            height: 101px;
        }
        .auto-style8 {
            width: 120px;
            height: 100px;
        }
 HEAD
        .auto-style9 {
            width: 100%;
            height: 196px;
        }
        .auto-style13 {
            height: 107px;
        }
        .auto-style14 {
            width: 1572px;
            height: 107px;
        }
        .auto-style9 {
            margin-bottom: 0px;
        }
        .auto-style16 {
            width: 441px;
            height: 362px;
        }
        </style>
&nbsp;</head><body><form id="form1" runat="server">
    <div style="height: 1400px">
    
     <img alt="asd"class="auto-style1" src="resimler/banner.PNG" />
         <br />
      
        <table class="auto-style9">
            <tr>
                <td class="auto-style14">
                  <center> </td>
                <td class="auto-style13">
                    <asp:Label ID="Label1" runat="server" Text="KullanıcıAdi"></asp:Label>

        <asp:TextBox ID="TextBox1" runat="server" Height="16px" style="margin-left: 0px" Width="162px"></asp:TextBox>
        &nbsp;<br />
&nbsp;
        <asp:Label ID="Label2" runat="server" Text="Sifre"></asp:Label>
&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
        <asp:TextBox ID="TextBox2" runat="server" Width="163px"></asp:TextBox>
       <center> <asp:Button ID="Button1" runat="server" Text="Giriş" Width="97px" OnClick="Button1_Click" /></center>
                
                </td>
            </tr>
            </table>
      
        <br />
        &nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp <center><asp:Button ID="anasyfa" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Font-Size="Small" ForeColor="Black" Height="40px" Text="ANASAYFA" Width="130px" style="margin-bottom: 0px" />
        <asp:Button ID="brmlrbtn" runat="server" Height="40px" Text="BİRİMLER" Width="130px" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Font-Strikeout="False" Font-Underline="False" OnClick="brmlrbtn_Click" />
       <asp:Button ID="hklrbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="HASTAHAKLARI" Width="130px" OnClick="hklrbtn_Click1" />
        <asp:Button ID="ecznebtn" runat="server" Height="40px" Text="ECZANELER" Width="130px" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" ForeColor="Black" />
        <asp:Button ID="zyrtbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="ZİYARET" Width="130px" />
        <asp:Button ID="fotobtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="FOTOGALERİ" Width="130px" />
        <asp:Button ID="iltbtn" runat="server" BackColor="#CCFF99" BorderColor="White" Font-Bold="True" Font-Italic="True" Font-Names="Comic Sans MS" Height="40px" Text="İLETİSİM" Width="130px" /></center>
        &nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /> &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
        &nbsp;&nbsp;&nbsp;
                
        <br /> <br />
        <div>
           <center> <h2> Ulaşım</h2></center>
        </div>
        <div style="height: 318px">
            <p class="style1" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">T.C.</strong></p>
            <p class="style1" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">SAĞLIK BAKANLIĞI</strong></p>
            <p class="style1" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">TÜRKİYE KAMU HASTANELERİ KURUMU</strong></p>
            <p class="style1" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">SÖĞÜT DEVLET HASTANESİ</strong></p>
            <p style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                &nbsp;</p>
            <p style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">Adres:</strong>&nbsp;Bilecik Yolu üzeri Söğüt / Bilecik</p>
            <p style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">Telefon:</strong>&nbsp;0 (228) 361 6313</p>
            <p style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: center; margin: 0px; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
                <strong style="margin: 0px; padding: 0px;">Faks:</strong>&nbsp;0 (228) 361 6319</p>
            <br /> 
            <center><img alt="g" class="auto-style16" src="resimler/maps.PNG" /><br />
                <asp:Button ID="Button2" runat="server" Height="31px" OnClick="Button2_Click" Text="Büyült" Width="137px" />
            </center>
                
       
        <tr>
        <td colspan="2" align="right">
&nbsp;&nbsp;
             <br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><img alt="das" class="auto-style2" src="resimler/altalan.PNG" /><br /><center> <img alt="ffw" class="auto-style7" src="resimler/evdesağlık.PNG" /><img alt="cvc" class="auto-style4" src="resimler/alo171.PNG" /><img alt="qfc" class="auto-style3" src="resimler/alo113.PNG" /><img alt="heg" class="auto-style5" src="resimler/alobimer.PNG" /><img alt="nbh" class="auto-style6" src="resimler/bilgilendirme.PNG" /><img alt="randevu" class="auto-style3" src="resimler/randevu.PNG" /><img alt="sabim" class="auto-style8" src="resimler/sabim.PNG" /></center>
        <center>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </div></center>
    </form>
</body>
</html>
