﻿@{
    ViewBag.Title = "SÖĞÜT DEVLET HASTANESİ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>SÖĞÜT DEVLET HASTANESi</h1></center>
<br />
<br />
<center><button>ANASAYFA</button> <button>PERSONEL</button> <button>HASTANEMİZ</button> <button>BİRİMLER</button> <button>ECZANELER</button> <button>HASTA HAKLARI</button><button>HASTA ZİYARET</button>
<button>İLETİSİM</button></center>
